body{
  background-color: white;
  color: rgb(40, 40, 40);
}

.App{
  background-color: rgb(40, 40, 40);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  background-color: rgb(40, 40, 40);
  padding: 0 1em;
}

.categories ul{
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2em;
  margin-right: 6em;
}

.categories a{
  color: white;
  text-decoration: none;
  list-style: none;
}

ul{
  list-style: none;
}

.categories ul li{
  font-size: 15px;
  padding-left: 0.5em;
  padding-right: 2em;
}

.categories :hover{
  color: rgb(150, 150, 150);
  transition-duration: 500ms;
}

.logo{
    display: flex;
    justify-content: center;
    margin-left: 2em;
}

.logo:hover{
  transform: scale(106%);
  transition-duration: 400ms;
}

.buttons{
  margin-right: 2em;
}

.botonCarrito{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5em;
  margin-right: 1em;
  padding-bottom: 0.5em;
}

.botonCarrito:hover{
  color: rgb(150, 150, 150);
  transition-duration: 500ms;
  cursor: pointer; 
}

.botonUser{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5em;
}

.botonUser:hover{
  color: rgb(150, 150, 150);
  transition-duration: 500ms;
  cursor: pointer; 
}

.notificacionCarrito{
  position: absolute;
  background-color: rgb(196, 183, 102);
  color: black;
  font-size: 0.6em;
  border-radius: 10px;
  padding: 0 0.3em;
  margin-left: 1.7em;
  bottom: 54%;
}

.itemCount{
  display: flex;
  align-items: center;
}

.itemCount button{
  font-size: 1em;
  display: flex;
  height: 2.5em;
  margin: 0 1em;
  padding: 0 1em;
  border-radius: 100px ;
  background-color: rgb(40, 40, 40);
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
}

.itemCount button:hover{
  background-color: rgb(100, 100, 100);
  transition-duration: 400ms;
  cursor: pointer;
}

.productos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em ;
}

.cardProducto{
  display: flex;
  flex-direction: column;
}

.cardProducto img:hover{
  cursor: pointer;
  transform: scale(104%);
  transition-duration: 500ms;
}

.cardProducto h3{
  font-size: 1em;
  text-align: center;
  padding-top: 1em;
}

.productos .cardProducto img{
  height: 300px;
  border-radius: 10px;
}

.divProducto{
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
}

.tituloImagen{
  padding-left: 5em;
  display: flex;
  flex-direction: column;
}

.precioStock{
  padding: 2em 10em;
  display: flex;
  flex-direction: column;
}

.tituloProducto{
  font-size: 2em;
}

.precioProducto{
  font-size: 2em;
  padding-left: 0.5em;
}

.descripcionProducto{
  padding-left: 0.5em;
  font-size: 1.2em;
}

.stockProducto{
  font-size: 1em;
  margin-left: 1em;
}

.buttonIrCarrito button{
  font-size: 1em;
  display: flex;
  height: 2.5em;
  margin: 0 1em;
  padding: 0 1em;
  border-radius: 100px ;
  background-color: rgb(40, 40, 40);
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonIrCarrito{
  text-decoration: none;
}